.navbar {
    background-color: rgb(178, 52, 52)
}

.nav-link {
    color: white;
    font-family: serif;
}
.navbar-brand {
    color: white;
    font-size: 40px;
    font-family:serif;
}

.info {
    background-color: rgb(178, 52, 52);
    text-align: center;
    color: white;

}

footer{
    height: 15vh;
    font-family: serif;
}

.nav-item{
    margin-left: 120px;
}
h1 {
    text-align: center;
    font-family: serif;
    text-decoration:underline;
    color:rgb(45, 44, 44    );
    
}

img{
    max-height: 600px;
    max-width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}
h4{
    font-family: serif;
}
@media screen and (width < 1000px) {
    .babies{
        flex-direction: column wrap;
    }
}
.col{
    font-family: serif;
    text-align: center;
}

.about{
    padding-top: 30px;
}

.about p{
    font-size: 19px;
    color:rgb(45, 44, 44);
}

.about h2{
    font-size:39px;
    text-decoration: underline;
    color:rgb(45, 44, 44);

}

.col-education h2{
    font-size:39px;
    text-decoration: underline;
    color:rgb(45, 44, 44);
}

.col-education{ 
    padding-top: 150px;
    color:rgb(45, 44, 44);
}

.col-education{
    font-size: 19px;
    color:rgb(45, 44, 44);
}
body{ 
    background: #fdeded; 
}
::-webkit-scrollbar{
    display: none;
}