body{ 
    background: #fdeded; 
}
h1{
    color: #bc3d3d;
    font-size: 80px;
}
p{
    color: rgb(45, 44, 44);
    font-size: 30px;
}
.navbar {
    background-color: rgb(178, 52, 52)
}
.nav-link {
    color: #fdeded;
    font-family: serif;
}
.navbar-brand {
    color: #fdeded;
    font-size: 40px;
    font-family:serif;
}
img{
	/* border-radius: 50%; */
    max-height: 600px;
    max-width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.details{
    margin-top: 17%;
    font-family: serif;
}

.babies {
    display: flex;
    justify-content: center;
}

footer{
    height: 15vh;
    font-family: serif;
}

.info {
    background-color: rgb(178, 52, 52);
    text-align: center;
    color: #fdeded;
    margin-bottom:0%;

}
.btn btn-primary {
    padding-top: 80px;
    
}
.logo{
    padding-right: 50px;
}


@media screen and (width < 1000px) {
    .babies{
        flex-direction: column wrap;
    }
}
.nav-item{
    margin-left: 120px;
}
::-webkit-scrollbar{
    display: none;
}


