.navbar {
    background-color: rgb(178, 52, 52)
}

.nav-link {
    color: white;
    font-family: serif;
}
.navbar-brand {
    color: white;
    font-size: 40px;
    font-family:serif;
}

.info {
    background-color: rgb(178, 52, 52);
    text-align: center;
    color: white;

}
footer{
    height: 15vh;
    font-family: serif;
}
.nav-item{
    margin-left: 120px;
}
