
.navbar {
    background-color: rgb(178, 52, 52)
}

.nav-link {
    color: white;
    font-family: serif;
}
.navbar-brand {
    color: white;
    font-size: 40px;
    font-family:serif;
}

.info {
    background-color: rgb(178, 52, 52);
    text-align: center;
    color: white;

}
footer{
    height: 15vh;
    font-family: serif;
}
.nav-item{
    margin-left: 120px;
}
.col{ 
    font-family: serif;
    /* text-decoration: underline; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-family: serif;
    text-align: center;
    text-decoration:underline;
    
}

.testimonials{ 
    font-family: serif;
    text-align:center;
    color:rgb(45, 44, 44);
}

.projects{
    display: flex;
    justify-content: center;
    color:rgb(45, 44, 44);
}
body{ 
    background: #fdeded; 
}
.card-link{
    text-decoration: none;
    color:  #fdeded;
}
::-webkit-scrollbar{
    display: none;
}
@media screen and (width < 1000px) {
    footer{
        height: 8rem;
    }
}