.navbar {
    background-color: rgb(178, 52, 52)
}

.nav-link {
    color: white;
    font-family: serif;
}
.navbar-brand {
    color: white;
    font-size: 40px;
    font-family:serif;
}

.info {
    background-color: rgb(178, 52, 52);
    text-align: center;
    color: white;

}

footer{
    height: 15vh;
    font-family: serif;
}
.nav-item{
    margin-left: 120px;
}

h1{
    font-family: serif;
    text-align: center;
    text-decoration: underline;
    color:rgb(45, 44, 44);

}
.interests {
    font-family: serif;
    font-size: 39px;
    padding: 70px;
    color:rgb(45, 44, 44);

}
.skills{
    font-family: serif;
    font-size: 39px;
    padding: 70px
}

.hello {
    font-size: 19px;
    text-decoration: none;  
    color:rgb(45, 44, 44);
}
body{ 
    background: #fdeded; 
}
h3{
    color:rgb(45, 44, 44);
}
h2{
    color: rgb(45, 44, 44);
}